In [6]:
import pandas as pd
import matplotlib as plt
import seaborn as sns


specie_data = pd.read_csv("./species_info.csv")
observed_data = pd.read_csv("./observations.csv")

specie_data.head()
print(len(specie_data))
#observed_data.head()

5824

# Species_info.csv:
## -Category - class of animal
## - Scientific_name - The scientific name of each species
## - Common_name - The common names of each species
## - Conservation_status - Each specie's current conservation status

# Observations.csv:
## scientific_name - The scientific name of each species
## park_name - Park where species were found
## observations - The number of times each species were observed at park

## Below is a summary statistic of the specie data.

In [39]:
# Let's see some information about the species data
specie_data.head()
specie_data.describe(include="all")
print(specie_data["conservation_status"].unique())
print(specie_data.columns)
specie_data["conservation_status"] = specie_data["conservation_status"].replace("Recovered", "Safe")
print(len(specie_data))
specie_data.head()

['Recovered' 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']
Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')
5824

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Safe
1,Mammal,Bos bison,"American Bison, Bison",Safe
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",Safe
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",Safe
4,Mammal,Cervus elaphus,Wapiti Or Elk,Safe

# Now let's explore the data in the observation table

In [32]:
#print(observed_data.describe(include="all"))
print(observed_data.columns)
observed_data.head()
# Let's see how long our table is
print(len(observed_data))

Index(['scientific_name', 'park_name', 'observations'], dtype='object')
scientific_name    0
park_name          0
observations       0
dtype: int64
23296

# Both of these tables have an identical columns with which they can be merged.  Let's merge them by the scientific name column and see if we can get any valuable insights. The Specie data however has significantly less rows than the observed data which is why we will do a left merge to retain all the specie data and have a complete column

In [44]:
#Lets merge both dataframes using the left merge syntax
complete_data = pd.merge(specie_data, observed_data, how="left")

print(len(complete_data))
#Now let's take a look at our data
#let's see how many unique national parks there are in this data
print(complete_data["park_name"].nunique())
complete_data.head()

25632
4

,category,scientific_name,common_names,conservation_status,park_name,observations
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Safe,Bryce National Park,130
1,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Safe,Yellowstone National Park,270
2,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Safe,Great Smoky Mountains National Park,98
3,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,Safe,Yosemite National Park,117
4,Mammal,Bos bison,"American Bison, Bison",Safe,Yosemite National Park,128

#